<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
<!--    <welcome-file-list>-->
<!--        <welcome-file>student-register</welcome-file>-->
<!--        <welcome-file>RegisterForm.jsp</welcome-file>-->
<!--    </welcome-file-list>-->
    <servlet>
        <servlet-name>StudentRegistration</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmissionmis.controller.StudentRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentRegistration</servlet-name>
        <url-pattern>/student-register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherRegistration</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmissionmis.controller.TeacherRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherRegistration</servlet-name>
        <url-pattern>/teacher-register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmissionmis.controller.StudentLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/student-login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TeacherLogin</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmissionmis.controller.TeacherLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherLogin</servlet-name>
        <url-pattern>/teacher-login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AssignmentAddition</servlet-name>
        <servlet-class>com.submission.mis.onlinesubmissionmis.controller.AssignmentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AssignmentAddition</servlet-name>
        <url-pattern>/add-assignment</url-pattern>
    </servlet-mapping>




</web-app>